<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /www.innervision.fr/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /www.innervision.fr/index.php [L]
</IfModule>
